img{
    width: 100%;
    height: auto;
}
#menu{
    width: ;
   
    display: block;
    float: left;
    padding-left: 5px;

}
#bars{
    position: absolute;
    top: 70%;
    padding-bottom: 5%;
    background-color: transparent;
    padding: 0;
    border: none;
}
#contraseña{
    margin: 0 auto;
    text-align: center;
}
#sesion{
    background-color: #F9CC5D;
}

.submenu a{
    width: 25%;
    float: left;
}

.imagen{
    float: left;
    
}
p{
   text-align: justify;
    font-size: 0.8em;
}

#btinterno{
    width: 50%;
    background-color: #F9CC5D;
    float: left;
}
#btcongreso{
    font-size: 0.7em;
    width: 33%;
      background-color: #F9CC5D;
    float: left;
}
.submenuCongresos a{
    width: 33%;
  height: 41px;
    float: left;
}
.submenuCongresos{
    width:100%; 
}
.SubMenuCursos a{
    width: 33%;
    float: left;
}