img{
    width: 100%;
    height: auto;
}
/*MENU*/
#menu{
    width: 30%;
    display: block;
    float: left;
    padding-left: 5px;
    padding-bottom: 5px;
}
#bars{
    position: absolute;
    top: 75%;
    padding-bottom: 5%;
    background-color: transparent;
    padding: 0;
    border: none;
}
#contraseña{
    margin: 0 auto;
    text-align: center;
}
#sesion{
    background-color: #F9CC5D;
}
/*IMAGENES INTERNAS*/
#imagen{
  width: 100%;
       
}
#logo{
float: left;
    width: 25%;
}

/*BOTONES*/
#btinterno{
    width: 50%;
    background-color: #F9CC5D;
    float: left;
}
#btcongreso{
    font-size: 0.7em;
    width: 33%;
    background-color: #F9CC5D;
    float: left;
}

/*SUBMENU - */

.SubMenuCursos {
    width: 33%;
   
}

.submenu1{
    float: left;
    width: 33%;
}
.submenu2{
    float: left;
    width: 33%;
}
.submenu3{
    float: left;
    width: 33%;
}
.submenu4{
 
    width: 33%;
}
/*TEXTO*/
p{
    font-size: 0.8em;
    font-size-adjust: auto;
    text-align: justify;
}
h3{
    text-align: center;
}
/*ACCORDION*/
