img{
    width: 100%;
    height: auto;
}
#menu{
    width: 30%;
    display: block;
    float: left;
    padding-left: 5px;
    padding-bottom: 5px;
}
#bars{
    position: absolute;
    top: 75%;
    padding-bottom: 5%;
    background-color: transparent;
    padding: 0;
    border: none;
}
#contraseña{
    margin: 0 auto;
    text-align: center;
}
#sesion{
    background-color: #F9CC5D;
}


#imagen{
  width: 100%;
  max-width: 360px;
       
}
.submenu{
    width: 100%;
    max-width: 360px;
}
.submenu a{
    width: 25%;
    clear: both;
}


#btinterno{
    width: 50%;
    background-color: #F9CC5D;
    float: left;
}
#btcongreso{
    font-size: 0.7em;
    width: 33%;
    background-color: #F9CC5D;
    float: left;
}
.submenuCongresos a{
    width: 33%;
    float: left;
    display: block;
}
.submenuCongresos{
    width:100%; 
}
.SubMenuCursos {
    width: 33%;
   
}
li {
    list-style: none;
}
.submenu1{
    float: left;
    width: 33%;
}
.submenu2{
    float: left;
    width: 33%;
}
.submenu3{
    float: left;
    width: 33%;
}
.submenu4{
 float: left;
    width: 33%;
}