<?xml version="1.0" encoding="UTF-8" ?>
	<widget xmlns   = "http://www.w3.org/ns/widgets"
		xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "co.kmedia.fucs"
		versionCode = "1.0" 
		version     = "1.0" >

	<preference name="phonegap-version" value="3.5.0" />
	<preference name="orientation" value="portrait" />

	<preference name="target-device" value="handset" />

	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="StatusBarBackgroundColor" value="#000000" />
	
	<gap:plugin name="com.phonegap.plugin.statusbar" />

	<name>FUCS</name>
	<description>
		Aplicion Mobil para educion continuada
	</description>
	<author href="https://github.com/Rogant/" email="rogant@gmail.com">
		Andres Vargas
	</author>
</widget>